*{

padding: 0%;
margin: 0%;
font-size: 20px;
color: #8a2387;
}

 
.hide{
  /* oculta el elemento */
    display: none;

}

.show{
    /* muestra el elemento */
    display:revert;
    /*  Ojo que acá tenías declarado un valor para display que no existe ('show'). Te funcionaba igual porque el navegador al no reconocer ese valor, volvía al default del user agent stylesheet.
        Lo normal es pasar de un display:none; a un display:block|inline-block|flex|inline; pero justo en este caso estás trabajando con tablas, que tienen su display especial. Así que te lo cambié por la propiedad 'revert' que básicamente vuelve al display original del elemento en cuestión.
     */
}

body{ 
     /* el fondo lo descargue de https://uigradients.com/ */ 
    background: linear-gradient(to right, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-left: 30%;
    margin-top: 5%;
}
ul{
    margin-bottom: 5%;
}
li{

    /* le saca los puntos */
    list-style-type: none; 
    text-decoration-line: underline;
    cursor:pointer;
}
button{
    font-size: 15px;
    width: 100px;
    height: 40px;
    margin-top: 5%;
    margin-left: 10%;
    background-color: #f27121;
}

table, tr, td{
    border-collapse: collapse;
    border: solid 5px black;
    width: 300px;
    height: 70%;
    text-align: center;
}
