

/* body{
/* background: linear-gradient(to right, #f27121, #8a2387, #e94057, #f27121, #8a2387); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

form{

position: fixed;
top: 30%;
left: 20%;
height: 30%;
width: 60%;
background-color: aliceblue;

}

div{

margin-top: 5%;

}
button{


width: 44px;
height: 23px;


}